.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.listCards {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}